<script>
  // global scripts goes here

  window.addEventListener("load", function() {
    var loader = document.getElementById("page_loader")
    loader.style.display = "none";

    var page_content = document.getElementById("page_content")
    page_content.style.display = "block";

    window.AppsManager.createAll();
  });

</script>
