<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <%= csrf_meta_tag() %>
  <link rel="apple-touch-icon" sizes="76x76" href="<%= Routes.static_path(@conn, "/img/apple-icon.png") %>" />
  <title>Profile | Tailwind Starter Kit by Creative Tim</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/js/main.css") %>"/>
  <%= render_existing view_module(@conn), String.replace_suffix(view_template(@conn), ".html", "") <> ".styles.css", assigns %>
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/main.js") %>"></script>

  <%= render "additional_styles.html", assigns %>
  <script async defer data-domain="phoenix-rollup-svelte.demo.keenmate.com" src="https://stats.keenmate.services/js/plausible.js"></script>
</head>

<body class="text-gray-800 antialiased">
  <div id="page_loader" class="w-full h-full fixed block top-0 left-0 bg-white opacity-100 z-50">

    <div id="loader"></div>
  </div>
  <div id="page_content" style="display: none;">
  <%= render "_navigation.html", conn: @conn, assigns: @conn.assigns %>

  <%= @inner_content %>

  <%= render "_footer.html", assigns: @conn.assigns %>
</div>
  <script>
    // global scripts goes here

    window.addLoadEvent = function(func) {
      var oldonload = window.onload;
      if (typeof window.onload != 'function') {
        window.onload = func;
      } else {
        window.onload = function() {
          if (oldonload) {
            oldonload();
          }
          func();
        }
      }
    }

    window.addLoadEvent(function() {
      var loader = document.getElementById("page_loader")
      loader.style.display = "none";

      var page_content = document.getElementById("page_content")
      page_content.style.display = "block";

    });

  </script>

  <%= render "additional_scripts.html", assigns %>
  <%= render_existing view_module(@conn), String.replace_suffix(view_template(@conn), ".html", "") <> ".scripts.html", assigns %>
</body>

</html>
