<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <%= csrf_meta_tag() %>
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
  <title>Profile | Tailwind Starter Kit by Creative Tim</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/js/main.css") %>"/>
  <%= render_existing view_module(@conn), String.replace_suffix(view_template(@conn), ".html", "") <> ".styles.css", assigns %>
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/main.js") %>"></script>

  <%= render "additional_styles.html", assigns %>
</head>

<body class="text-gray-800 antialiased">
  <%= render "_navigation.html", assigns: @conn.assigns %>

  <%= @inner_content %>

  <%= render "_footer.html", assigns: @conn.assigns %>

  <%= render "additional_scripts.html", assigns %>
  <%= render_existing view_module(@conn), String.replace_suffix(view_template(@conn), ".html", "") <> ".scripts.html", assigns %>
</body>

</html>
