<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <%= csrf_meta_tag() %>
  <link rel="apple-touch-icon" sizes="76x76" href="<%= Routes.static_path(@conn, "/img/apple-icon.png") %>" />
  <title><%= title(@conn, assigns) %></title>

  <%= render_existing RollupTestWeb.LayoutView, "app.scripts.html", assigns %>
  <%= render "additional_scripts.html", additional_scripts: Map.get(assigns, :additional_scripts, []) %>
  <%= render_existing view_module(@conn), String.replace_suffix(view_template(@conn), ".html", "") <> ".scripts.html", assigns %>

  <%= render_existing RollupTestWeb.LayoutView, "app.styles.html", assigns %>
  <%= render "additional_styles.html", additional_styles: Map.get(assigns, :additional_styles, []) %>
  <%= render_existing view_module(@conn), String.replace_suffix(view_template(@conn), ".html", "") <> ".styles.css", assigns %>

  <script async data-domain="phoenix-rollup-svelte.demo.keenmate.com" src="https://stats.keenmate.services/js/plausible.js"></script>
</head>

<body class="text-gray-800 antialiased">
  <div id="page_loader" class="w-full h-full fixed block top-0 left-0 bg-white opacity-100 z-50">

    <div id="loader"></div>
  </div>
  <div id="page_content" style="display: none;">
    <%= render "_navigation.html", conn: @conn %>

    <%= @inner_content %>

    <%= render "_footer.html" %>
  </div>
  <script>
    // global scripts goes here

    window.addEventListener("load", function() {
      var loader = document.getElementById("page_loader")
      loader.style.display = "none";

      var page_content = document.getElementById("page_content")
      page_content.style.display = "block";

    });

  </script>
</body>

</html>
