<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/components/numbers/numbers.js") %>"></script>
<script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/components/connect/connect.js") %>"></script>
